<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LinkedIn Video Downloader</title>
    
    <link rel="stylesheet" type="text/css" href="assets/datatables/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="assets/datatables/DataTables-1.11.4/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/videojs/video-js.min.css">
  </head>
  <body>
<div class="container" style="padding-top: 2em;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#download_manager">Download Manager</a></li>
    <li><a data-toggle="tab" href="#session">Session</a></li>
    <li><a data-toggle="tab" href="#tasks">Tasks</a></li>
    <li><a data-toggle="tab" href="#course">Course</a></li>
    <li><a data-toggle="tab" href="#tocs">Tocs</a></li>
    <li><a data-toggle="tab" href="#player">Player</a></li>
    <li><a data-toggle="tab" href="#translator">Translator</a></li>
    <li><a data-toggle="tab" href="#users">Users</a></li>
  </ul>
  <div class="tab-content">
    <div id="download_manager" class="tab-pane fade in active">
          <h3>Download Manager</h3>
          <span class="sessionId">{{current.sessionId}}</span>
          <div id="main_ui_cnt">
            <div class="container">
              <div id="side_bar_lft" class="col-md-3">
                <div class="courseList">
                    <h4>Course List</h4>
                    <ul class="nav nav-pills nav-stacked"> 
                      <li v-for="c in current.courseList"><a href="javascript:;" @click="updateQueue(c)">{{c.courseTitle|makeTitle}}</a></li>
                    </ul>
                </div>
              </div>
              <div id="main_cnt" class="col-md-9">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:20px">No</th>
                            <th>Title</th>
                            <th style="width:30px">Duration</th>
                            <th>Size</th>
                            <th>Status</th>
                            <th>Last Try Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7" v-if="current.downloadQueue.length>0">
                                <a class="btn"href="javascript:;" @click="generatePlaylist()">Generate Playlist</a>
                            </td>
                        </tr>
                        <tr v-for="d in current.downloadQueue">
                            <td>{{d.idx+1}}</td>
                            <td><span>{{d.title}}</span></td>
                            <td>{{d.duration}}</td>
                            <td>
                                <div :class="'dlCaptionSizeTocId-'+d.id"><i class="fa fa-file-text-o"></i> <span>{{d.dlCaptionSize|formatBytes}}</span></div>
                                <div :class="'dlVideoSizeTocId-'+d.id"><i class="fa fa-file-video-o"></i> <span>{{d.dlVideoSize|formatBytes}}</span></div>
                            </td>
                            <td>
                                <div :class="'dlCaptionStatusTocId-'+d.id"><i class="fa fa-file-text-o"></i> <span>{{d.dlCaptionStatus|formatBytes}}</span></div>
                                <div :class="'dlVideoStatusTocId-'+d.id"><i class="fa fa-file-video-o"></i> <span>{{d.dlVideoStatus|formatBytes}}</span></div>
                            </td>
                            <td>
                                <div :class="'dlCaptionLastTryDateTocId-'+d.id"><i class="fa fa-file-text-o"></i> <span>{{d.dlCaptionLastTryDate|fromNow}}</span></div>
                                <div :class="'dlVideoLastTryDateTocId-'+d.id"><i class="fa fa-file-video-o"></i> <span>{{d.dlVideoLastTryDate|fromNow}}</span></div>
                            </td>
                            <td>
                                <div :class="'actionTocId-'+d.id">
                                    <div style="height: 20px;"  v-if="d.dlCaptionComplete != 1">
                                        <a class="btn btn-xs" href="javascript:;" @click="downloadToc(d,'caption')"><i class="fa fa-download"></i></a>
                                    </div>
                                    <div style="height: 20px;"  v-if="d.dlVideoComplete != 1" >
                                        <a class="btn btn-xs" href="javascript:;" @click="downloadToc(d,'video')"><i class="fa fa-download"></i></a>
                                    </div>
                                    <div>
                                        <a class="translate-btn" href="javascript:;" @click="translateCaption(d)"></a>
                                    </div>
                                    <div v-if="d.dlVideoComplete == 1">
                                        <a class="btn btn-xs" href="javascript:;" @click="playToc(d)"><i class="fa fa-play"></i></a>
                                    </div>
                                    
                                </div>
                            </td>
                        </tr>
                        <tr v-if="current.downloadQueue.length==0">
                            <td colspan="7">Please select a course.</td>
                        </tr>
                    </tbody>
                </table>
                  <!-- {{current.downloadQueue}} -->
              </div>
            </div>
          
          </div>
    </div>
    <div id="session" class="tab-pane fade">
      <h3>Session</h3>
      <table class="table" id="session_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>SessionID</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="tasks" class="tab-pane fade">
      <h3>Tasks</h3>
      <table class="table" id="tasks_list" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>SessionID</th>
                <th>CourseID</th>
                <!-- <th>CourseTitle</th> -->
                <th>Param</th>
                <th>Status</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="course" class="tab-pane fade">
      <h3>Course</h3>
      <table class="table" id="course_list" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>SessionID</th>
                <th>CoursePath</th>
                <th>CourseTitle</th>
                <th>Url</th>
                <th>Hostname</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="tocs" class="tab-pane fade">
      <h3>Tocs</h3>
      <table class="table table-bordered" id="toc_list" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>CourseID</th>
                <th>Idx</th>
                <th>Title</th>
                
                <th>CaptionUrl</th>
                <th>Duration</th>
                <th>PosterUrl</th>
                <th>Slug</th>
                <th>Url</th>
                <th>VideoUrl</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>                

    </div>
    <div id="player" class="tab-pane fade">
      <h3>Player</h3>
      <div class="player_cnt container"></div>

    </div>
    <div id="translator" class="tab-pane fade">
      <h3>Translator</h3>
      <p>{{toc.title}}</p>
      <div class="translator_cnt">
        <div class="container">
          <div class="col-md-6">
              <textarea v-model="inputBuffer" class="form-control in-lang"></textarea>
              <div style="padding:1em">
                  <span>Total: {{bufferLength}} Character</span>
                  <span v-if="bufferExceed"> Buffer exceed: {{bufferExceedLength}}</span>
              </div>
              <div>
                <textarea style="margin:1em 0" v-for="(b,i) in inputBufferSegments" v-model="inputBufferSegments[i]" class="form-control in-lang"></textarea>
              </div>
          </div>
          <div class="col-md-6">
              <textarea v-model="outputBuffer" class="form-control out-lang"></textarea>
              <div style="padding:1em">
                  <span>&nbsp;</span>
                  <span v-if="bufferExceed"> &nbsp;</span>
              </div>
              <div>
                <textarea style="margin:1em 0" v-for="(b,i) in outputBufferSegments" :class="'outputBufferSegments_'+i" class="form-control in-lang"></textarea>
              </div>
          </div>
        </div>
        <div class="toolbar">
            <a class="btn btn-info" href="javascript:;" @click="loadVtt()"><i class="fa fa-refresh"></i> Load</a>
            <a class="btn btn-info" href="javascript:;" @click="doTranslate()"><span class="translate-btn"></span>Translate</a>
            <a class="btn btn-info" href="javascript:;" @click="saveResult()"><i class="fa fa-save"></i> Save</a>
        </div>
      </div>

    </div>
    <div id="users" class="tab-pane fade">
      <h3>Users</h3>
      <table class="table" id="clients_list" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>User name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
  </div>
</div>



    <script src="assets/js/moment-with-locales.js"></script>
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/socket.io.js"></script>
    <script src="assets/js/vue2.js"></script>
    <script src="assets/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="assets/datatables/datatables.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/videojs/video.min.js"></script>
    <script src="assets/js/video.player.js"></script>
    <script src="assets/js/caption.translator.js"></script>
    <script src="assets/js/download.manager.js"></script>
   
<style type="text/css">
tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
</style>
  </body>
</html>