<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Linked In Video Grabber</title>
</head>
<body>
    <div id="container">
        <ul id="session_list">
            <li v-for="i in sessions.data"><a href="javascript:;" @click="getCourses(i.sessionId)"><span v-text="i.sessionId"></span> [<span v-text="i.createDate"></span>]</a></li>
        </ul>
        <ul id="course_list">
            <li v-for="c in courses"><a href="javascript:;" @click="getTocs(c.id)"><span v-text="c.courseTitle"></span></a></li>
        </ul>
        <ol id="toclist">
            <li v-for="t in tocs"><code v-text="t.slug+'.mp4'"></code> <a :href="t.videoUrl">[mp4]</a> <a href="captionUrl">[vtt]</a></li>
        </ol>
    </div>
</body>
<script type="text/javascript" src="pub/assets/js/jquery-3.5.1.js"></script>
<script type="text/javascript" src="pub/assets/js/axios.min.js"></script>
<script type="text/javascript" src="pub/assets/js/moment-with-locales.js"></script>
<script type="text/javascript" src="pub/assets/js/vue2.js"></script>
<script type="text/javascript" src="pub/assets/js/backend.js"></script>
</html>