body{
	/*background: #000;*/
}

#download_manager{
	/*border: solid 1px #000;*/
	font-size: 80%;
}

#side_bar_lft{
	/*border: solid #ddd;*/
}

#main_cnt{
	/*border: solid maroon;*/
}

.translate-btn{
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background: #fff url('../img/google-translate.png') top left;
}
.translator_cnt .toolbar{
    text-align: center;
    padding: 1em;
}

.in-lang,.out-lang{
	height: 340px !important;
}